{% extends 'partials/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>etudiants inscrits</h2>
            <a class="btn btn-secondary float-right" href="{% url 'ajout-article' %}"><i class="fas fa-plus"></i> Ajouter etudiant</a>
        </div>
        <div class="col-md-12">

            {%if list_etudiants %}

            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="h6">Nom</th>
                                <th class="h6">Prenom</th>
                                <th class="h6">Batiment</th>
                                <th class="h6">Num Chambre</th>
                                <th class="float-right h6" style="margin-right: 55px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for etudiant in list_etudiants %}
                            <tr>
                                <td>
                                    <a href="" class="h6">{{etudiant.nom}}</a>
                                    
                                </td>
                                <td><a href="" class="h6">{{etudiant.prenom |truncatewords:10}}</a></td>
                                <td><a href="" class="h6">{{etudiant.chambre.batiment.nom }}</a></td>
                                <td><a href="" class="h6">{{etudiant.chambre.numero |truncatewords:10}}</a></td>
                                <td>
                                    <a href="{% url 'modif' etudiant.id %}" class="btn btn-info float-right btn-sm " ><i class="fas fa-edit"></i></a>
                                    <a href="{% url 'delete' etudiant.id %}" class="btn btn-danger float-right btn-sm "style="right: 10px;"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {%else%}
            <h2>Vous n'avez pas d'etudiants en residence pour le moment</h2>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}